.user-dashboard-container{
    padding: 20px;
    max-width: 100%;
    margin: 10px auto;
    font-family: 'Arial, sans-serif';

    
}
.user-dashboard-heading{
    text-align: center;
    color: #1890ff;
    font-size: max(32px, 2vw);
    margin-bottom: 20px;
}
.add-users-button{
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
}
.user-dashboard-table{
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: auto;
    font-weight: 600;
}
.update-or-add-button{
    font-weight: bold;
    height: 40px;
}